---
Language:        Cpp
BasedOnStyle:  Microsoft

# =====================================================
# 格式基于微软，具有一定权威性。非必要不修改。
# 仅在满足以下理由之一时可以增加格式规则：
# 
# 1. 微软的默认风格特别影响开发体验的;
# 2. 原来允许多种（无优劣区分的）风格，现在统一成某一种风格的;
# 3. 工具链、代码检查工具等依赖或要求的代码风格，确实无法绕开的；
# 4. 可以将代码格式化为某种最佳实践的样式的。
#
# 增加格式规则时，按下面格式填写注释：
# 
# 默认风格： <无这条规则是什么行为>
# 当前风格： <有这条规则是什么行为>
# 原因： <为何要添加这条规则>
# 
# ====================================================

# 默认风格： public: 等为2格缩进。其他地方均为4格缩进。
# 当前风格： 取消 public: 缩进。
# 原因： 只有此处为2格缩进很突兀，会让编辑器把缩进识别为2格，但其他地方都是4格，很影响编辑体验。
IndentAccessModifiers: false
AccessModifierOffset: -4
# 默认风格： 不排序 include 
# 当前风格： 排序 include。
# 原因：1. 要求头文件必须自包含，即不得要求包含它的文件在它之前包含其他文件。包含顺序不得影响编译。2. 美观
SortIncludes: CaseSensitive
# 默认风格： 格式化时保持原样。
# 当前风格： 格式化时将 const & x 统一为 const x & 。
# 原因： 增加代码风格的统一性
QualifierAlignment: Left